footer{
    background-color: black;
    padding-top: 10px;
    a{
        color: white;
        text-decoration: none;
    }
    i{
        color: white;
        padding-right: 5px;
        width: 1.2rem;
        margin-right: 0.5rem;
    }
    .utensils{
        display: flex;
        
    }
    .hands{
        display: flex;
    }
}

